<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Activation email</title>
</head>

<body bgcolor="#8d8e90">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
  <tr>
    <td><table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="393"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="46" align="right" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
               
                     <td width="4%" style="color:#3C8DBC; padding-top: 23px; padding-left: 3%;"><strong> Warm welcome to Proto Inc.</strong></td>
                     <!-- <td width="4%" style="color:#000000; padding-left: 22%; padding-top: 23px;">Amount :<font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#3C8DBC; font-size:19px"><strong>$ {{total}} </strong></strong></font></td> -->

                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
           <td>  </td>
        </tr>
        <tr>
          <td align="center" style="background-color: #6ebe44">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10%">&nbsp;</td>
                <td width="80%" align="left" valign="top"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#010101; font-size:14px"><b><em>Dear {{first_name}},</em></b></font><br /><br />
                  <font style="font-family: Verdana, Geneva, sans-serif; color:#666766; font-size:13px; line-height:21px"> 

Your Account has been Not Activated. Activate Account<br />
User Name : {{username}}<br/>
Activation Link : {{link}}
<br /><br />
Sincerely,
<br /><br />
Test , Inc

</font></td>
                <td width="10%">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td align="right" valign="top"><table width="108" border="0" cellspacing="0" cellpadding="0">
                </table></td>
                <td>&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td><hr style="color: #6ebe44"></td>
        </tr>
        <tr>
          <td align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:blue; font-size:8px"><strong> Registered Office |Test  Ltd, Pune, ,<br/>Pune, 560048| Tel: 0000 0000 | <a href= "" style="color:blue; text-decoration:none">customercare@test.com</a></strong></font></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>